#  review toàn bộ repo
* @thutam231006-commits @trinhngoctruc-oss  @MinhPhuc4k11

# Backend:  phụ trách
/backend/ @thutam231006-commits

# Frontend:  phụ trách
/frontend/ @thutam231006-commits

# Docs: phụ trách
/docs/ @MinhPhuc4k11
